@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: calc(100vw / 1440 * 10);
  --accent-color: #ee4323;
}

@media(max-width: 991px) {
  :root {
    font-size: calc(100vw / 991 * 10);
  }
}
@media(max-width: 767px) {
  :root {
    font-size: calc(100vw / 767 * 10);
  }
}

/* base styles */
body {
  font-family: Raleway, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  text-align: center;
  background: #ed806c;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}